#particles-js{
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url(../images/bg.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}