*{
    padding: 0;
    margin: 0;
}
#wrap{
    margin: 0 auto;
    width: 800px;
    height: 300px;
    padding: 20px;
}
#wrap img{
    width: 124px;
    height: 140px;
    margin: 2px;
}
    #wrap img.rotate{
        animation: rotate 4s ease-in-out;
    }
@keyframes rotate{
    to{
        transform: rotateY(360deg);
    }
}
