* {
  margin: 0;
  padding: 0;
}
* ul,
* li {
  list-style: none;
}
html {
  color: #fff;
  background-color: #fff;
}
.section {
  margin-bottom: 30px;
  min-height: 200;
}
.wrapper {
  width: 950px;
  height: 100px;
  background-color: #123;
  margin: 0 auto;
}
.sidenav {
  float: left;
  width: 100px;
  margin-right: 20px;
}
.sidenav h2 {
  color: #072;
  margin: 0 0 12px 0;
  line-height: 150%;
  font: 15px;
}
.sidenav h2 a {
  font-size: 24px;
  text-decoration: none;
}
.sidenav .side-links {
  margin-top: 40px;
}
.sidenav .side-links li {
  margin-top: 5px;
  font-style: 14px;
}
.sidenav .side-links li a {
  color: #27a;
}
.sidenav .side-links li a:hover {
  color: #669;
}
